body{
    margin:0;
    background:#000;
    color:white;
    font-family:Arial, sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.game-wrapper{
    display:flex;
    gap:20px;
    align-items:flex-start;
}

#board, #next{
    background:#111;
    border:2px solid #444;
}

.side h3{
    margin:10px 0;
    text-align:center;
}

.controls{
    margin-top:20px;
    display:flex;
    gap:20px;
}

button{
    background:#333;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:0.2s;
}
button:hover{
    background:#555;
}
